<section>
  <h1>Who are you guys?</h1>
  <ul class="small-image-list">
    <li>
      <img src="/images/SmallChris.png" alt="" class="left" />
      <h4>Chris Pitman</h4>
      <p>Chris is a developer obsessed with software craftsmanship, and has lived many lives in the search of the <strong>divine program</strong>. He is a consultant with Red Hat, and can sometimes be sighted in the wild on <a href="http://stackoverflow.com/users/213421/chris-pitman">Stack Overflow</a>. He is a dog person.</p>
    </li>
    <li>
      <img src="/images/SmallMatt.png" alt="" class="left" />
      <h4>Matt Takane</h4>
      <p>Matt loves test plans. That is all.</p>
      <p>P.S. He also happens to be a consultant for Red Hat, and has an unhealthy love of cats.</p>
    </li>
  </ul>

</section>
