<section>
  <h1>About</h1>
  <ul class="small-image-list">
    <li>
      <img src="/images/SmallChris.png" alt="" class="left" />
      <h4>Chris Pitman</h4>
      <p>I am a developer that has seen the highs and lows of enterprise development and spends a lot of time stopping the bleeding. I am a Senior Architect with Red Hat, and can sometimes be sighted in the wild on <a href="http://stackoverflow.com/users/213421/chris-pitman">Stack Overflow</a> and <a href="https://github.com/cpitman">GitHub</a>.</p>
    </li>
  </ul>

</section>
