<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/custom.css" media="screen" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="/"><h1> {{ site.name }} </h1></a>
        <h2> Solutions to Everyday Issues in Technology </h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          
          {{ content }}

        </section>

        <aside id="sidebar">
          <form class="search" action="http://google.com/search" method="get">
              <input type="hidden" name="q" value="site:cpitman.github.io" />
              <input class="search" type="text" name="q" results="0" placeholder="Search"/>
          </form>
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_inline_follow_toolbox"></div>
          {% include recent_posts.html %}

          {% include about.html %}
        </aside>

      </div>
    </div>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-517186ef7f6784b8"></script>
    {% include google_analytics.html %}
  </body>
</html>
